@charset 'UTF-8';

@import '@spatie/blender-css/dist/blender.css';

.grid {
    display:block !important;
}

.no-padding {
    padding: 0;
}

.grid__col.-width-1\/2 {
    width: 48.25254%;
}
.grid__col.-width-1\/3 {
    width: 31.30339%;
}

.enable-zone {
    pointer-events:none;
    opacity: 50%;
}

.enable-checkbox-checked ~ .enable-zone {
    pointer-events: all;
    opacity: 100%;
}

.fa-trash {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
}

.fa.fa-trash:before {
    content: "\f2ed";
}
