.button {
    text-transform: uppercase;
    font-weight: 600;

    &.is-orange {
        border-color: $orange-light;
        color: $orange-light;
    }

    &.is-red {
        border-color: $orange-dark;
        color: $orange-dark;
    }

    &.is-outlined {
        border-width: 2px;
        background-color: transparent;
    }
}
