.datepicker-custom {
    .datepicker {
        top: 40px;
        color: inherit;
        z-index: 10 !important;
        border-radius: 3px;
        &--open {
            border: 1px solid;
            border-color: $purple-medium;
        }
        &__wrapper {
            height: 36px !important;
        }
        &__dummy-wrapper {
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);

            &--is-active {
                border-color: $purple-medium;
            }
        }
        &__dummy-input {
            &--is-active {
                color: $orange-dark;
            }
            height: 36px !important;
        }
        &__clear-button {
            height: 20px !important;
        }
        &__month-day {
            cursor: pointer;
            &:not(.datepicker__month-day--disabled, .datepicker__month-day--selected):hover {
                background-color: rgba($purple-faded, .4);
            }
            &--invalid-range {
                background-color: rgba($red, .3);
                color: inherit;
            }
            &--invalid {
                color: $red;
                cursor: not-allowed;
            }
            &--disabled {
                color: #c2c2c2;
                cursor: not-allowed;
                background-color: #f3f3f3;
                pointer-events: auto;
            }
            &--selected {
                background-color: rgba($purple-medium, .5);
                color: white;
                &:hover {
                    background-color: white;
                    color: $purple-medium;
                    z-index: 1;
                    position: relative;
                    box-shadow: 0 0 10px 3px rgba($purple-faded, .4);
                }
            }
            &--first-day-selected,
            &--last-day-selected {
                background: $purple-medium;
                color: $white;
            }
        }
    }
}

@media screen and (max-width: 49em) {
    .datepicker--open {
        top: 48px !important;
    }
}
