.image {
    background-position: center;
    background-size: cover;

    &.is-circle {
        border-radius: 100%;
        overflow: hidden;
    }

    &.has-light-border {
        border: 2px solid white;
    }
}
