ul.list {
    li {
        padding: 7px 10px;
        border-bottom: 1px solid #dbdbdb;

        & > i.fa {
            padding-right: 10px;
        }

        &:hover {
            background-color: #fafafa;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    margin-bottom: 15px;
}
