.collapsible-panel {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: block;
        width: 100%;
        height: 5rem;
        // border-bottom: solid 2px lightgrey;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        content: '';
        transition-property: opacity .1s ease;
    }

    &.-open:after {
        opacity: 0;
    }
}

.collapsible-panel__contents {
    padding-bottom: 15px;
}

.collapsible-panel__toggle {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 15;
    padding: .25rem 1rem 0;
    outline: 0;
    // border: solid 2px lightgrey;
    // border-bottom-color: #fff;
    // background-color: #fff;
    // color: $primary;
    // font-size: .85rem;
    transform: translateX(-50%);

    .-open & {
        padding: .25rem 1rem;
        border-bottom-color: lightgrey;
    }
}
