.footer {
    position: relative;

    .is-overlay {
        background-position: center;
        background-size: cover;
        opacity: 0.7;

        &.color-overlay {
            background-color: $purple-medium;
        }
    }

    &.is-medium {
        padding-bottom: 7rem;
        padding-top: 7rem;
    }

    &.is-dark,
    &.is-dark a {
        color: #fff;
    }

    ul li {
        margin-bottom: 0.5em;
    }
}
