.hero {
    background-position: center center;
    background-size: cover;

    &.is-purple {
        background-color: $purple-dark;
    }

    &.is-purple-light {
        background-color: rgba($purple-dark, 0.75);
    }

    .has-background {
        background-color: rgba($purple-dark, 0.75);
    }
}
