.images-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
}

.images-grid__image {
    margin: 0.5em;
    flex: 1 1 auto;
    outline: 0;
    position: relative;
    width: 250px;
    height: 200px;
    background-size: cover;

    @include desktop {
        width: 400px;
        height: 300px;
        margin: 0.8em;
    }

    & > img {
        user-select: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.grid-image__placeholder {
    z-index: 2;
    //visibility: hidden;
    max-width: 250px;
    height: 200px;

    @include desktop {
        max-width: 400px;
        height: 300px;
    }

    // ejo
    user-select: none;
    object-fit: cover;


}

.grid-image__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid .5rem #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include desktop {
        border-width: 1rem;
    }
}
