.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: height 0.5s;
    height: 3rem;

    & > .container {
        height: 100%;
        display: flex;
    }
}

.navbar-brand {
    height: 100%;
    display: flex;
}

.navbar-item {
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;

    svg {
        height: 100%;
        width: 205px;
    }

    &.active {
        color: $red;

        &::after {
            position: absolute;
            left: 1em;
            right: 1em;
            top: calc(50% + 0.7em);

            height: 2px;
            border-radius: 3px;
            background-color: $red;
            content: '';
            transition: transform ease .5s;
        }
    }
}

.navbar-burger {
    width: 50px;
}

@include touch {
    .navbar-menu.is-active {
        position: fixed;
        top: 3rem;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }

    .navbar > .container {
        display: flex;
        flex-direction: column;
    }

    .navbar-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .navbar-item > a {
        display: block;
        padding: 5px;
    }

    li.navbar-item:has(.active), li.navbar-item.active {
        background-color: rgba($purple-faded, .3);
    }

    a.active, .navbar-item.active > .navbar-link {
        font-weight: bold;
    }

    .navbar-item.active::after {
        display: none;
    }

    li.navbar-item.has-dropdown {
        padding: 0.5rem 1rem;
    }

    a.navbar-link {
        display: block;
        padding: 5px;
    }

    .navbar-link.navbar-link--language {
        display: none;
    }

    .has-dropdown.active::after {
        display: none;
    }

    .navbar-dropdown--language {
        display: flex;
        justify-content: space-between;

        & .navbar-item {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .navbar-dropdown {
        padding-top: 0;
    }

    .navbar-dropdown:not(.navbar-dropdown--language) .navbar-item {
        padding-left: calc(1rem + 20px);
        padding-right: calc(1rem + 5px);
        padding-top: 6px;
        padding-bottom: 6px;
    }

}

@include desktop {
    body {
        padding-top: 5rem;
    }

    .navbar {
        height: 4rem;
    }

    .is-started {
        .navbar {
            height: 3rem !important;
        }
    }
}
