@import "~bulma/sass/utilities/initial-variables";

$purple-medium: #8A3F61;
$purple-dark: #8A3058;
$red: #C63C54;
$orange-dark: #F35C52;
$orange-light: #FA9F53;
$purple-faded: #ADA2B5;

$footer-background-color: $purple-dark;
$primary: $purple-dark;
$primary-invert: white;
$danger: $red;
$info: $orange-light;
$family-primary: 'Quicksand', sans-serif;

$link: $purple-dark;

$navbar-item-color: $purple-dark;
$navbar-item-hover-color: $purple-medium;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: inherit;
$navbar-height: auto;

@import "~bulma";

@import "patterns/navbar";
@import "atoms/datepicker";
@import "atoms/buttons";
@import "atoms/images";
@import "patterns/hero";
@import "patterns/card";
@import "patterns/media";
@import "atoms/typography";
@import "patterns/footer";
@import "atoms/list";
@import "atoms/house-map";
@import "patterns/images";
@import "patterns/collapsible";

@import "helpers/spacing";

//@import '~font-awesome/scss/font-awesome';

* {
    box-sizing: border-box;
}

body {
    padding-top: 3rem;
    transition: padding 0.5s;
}

body, html {
    font-family: $family-primary;
}

.m-30 {
    margin: 30px;
}

.content {
    a:not(.button) {
        display: inline-block;

        &::after {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $purple-faded;
            content: "";
            border-radius: 3px;
            transition: all  0.4s;
        }

        &:hover::after {
            width: 90%;
            background-color: $purple-dark;
        }

        &.cta {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.sticky {
    position: sticky;
    top: 4rem;
}

.section + .section {
    padding-top: 0;
}

.section.is-small {
    padding: 2rem 1.5rem;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
