<template>
    <article class="collapsible-panel" ref="panel">
        <div class="collapsible-panel__contents" ref="contents">
            <slot></slot>
        </div>
        <button class="button is-light collapsible-panel__toggle" @click="toggle" ref="toggle">
            {{ openText }}
        </button>
    </article>
</template>

<script>
    import scrollTo from 'scroll-to';
    export default {
        props: {
            openText: {
                type: String,
                default: 'Read more',
            },
            closeText: {
                type: String,
                default: 'Read less',
            },
            initialHeight: {
                type: String,
                default: '250px',
            },
            speed: {
                type: Number,
                default: 300,
            },
        },
        data: () => ({
            pageOffset: 0,
            isOpen: false,
        }),
        mounted() {
            this.$refs.panel.style.transitionProperty = 'height';
            this.$refs.panel.style.transitionDuration = `${this.speed / 1000}s`;
            this.$refs.panel.style.transitionTimingFunction = 'ease';
            if (! this.isOpen) {
                this.$refs.panel.style.height = this.initialHeight;
            }
        },
        methods: {
            toggle() {
                this.isOpen ? this.close() : this.open();
            },
            open() {
                this.isOpen = true;
                window.requestAnimationFrame(() => {
                    const height = this.$refs.contents.clientHeight;
                    this.pageOffset =  pageYOffset;
                    this.$refs.panel.style.height = `${height}px`;
                    window.setTimeout(() => {
                        if (this.isOpen) {
                            this.$refs.panel.style.height = 'auto';
                            this.$refs.panel.classList.add('-open');
                            this.$refs.toggle.textContent = this.closeText;
                        }
                    }, this.speed);
                });
            },
            close() {
                this.isOpen = false;
                window.requestAnimationFrame(() => {
                    this.$refs.panel.style.height = `${this.$refs.contents.clientHeight}px`;

                    scrollTo(0, this.pageOffset, {
                        ease: 'out-circ',
                        duration: this.speed,
                    });
                    window.setTimeout(() => {
                        if (! this.isOpen) {
                            this.$refs.panel.style.height = this.initialHeight;
                            this.$refs.panel.classList.remove('-open');
                            this.$refs.toggle.textContent = this.openText;
                        }
                    }, this.speed / 2);

                });
            },
        },
    };
</script>
