<template>
    <label class="label" v-if="label !== ''">
        {{ label }}
    </label>
</template>

<script>
    export default {
        computed: {
            hasLabel() {
                return this.message.toString() !== '';
            },
        },

        props: ['label'],
    }
</script>
