<template>
    <div>
        <div v-for="(guest, index) in guests" class="m-b-sm">
            <input
                type="text"
                required="required"
                v-model="guest.name"
                class="input"
                :placeholder="`Guest ${index+1}`"
                @blur="$emit('input', guests)"
            >
        </div>
    </div>
</template>
<script>
import { times, constant } from 'lodash';

export default {
    props: ['amount'],

    watch: {
        amount(newAmount) {
            const diff = newAmount - this.guests.length;

            if(diff > 0) {
                const newGuests = times(diff, () => ({ name: '' }));
                this.guests = this.guests.concat(newGuests);
            }

            if(diff < 0) {
                this.guests = this.guests.slice(0, newAmount);
            }
        },

        guests() {
            this.$emit('input', this.guests);
        }
    },

    data() {
        return {
            guests: [],
        };
    },
};
</script>
