<template>
    <div class="house-map"></div>
</template>
<script>
import GoogleMaps from 'google-maps';
export default {
    props: {
        lat: { required: true },
        lng: { required: true },
        zoom: { type: Number, required: true },
        title: { required: true },
    },
    mounted() {
        GoogleMaps.KEY = 'AIzaSyAEE2MHkSQH8YzpXzWAco-wfmctZDgDzoU';
        GoogleMaps.load(google => {
            const projectCoordinates = new google.maps.LatLng(this.lat, this.lng);
            const map = new google.maps.Map(this.$el, {
                zoomControl: true,
                zoom: this.zoom,
                minZoom: 3,
                draggable: true,
                scrollwheel: false,
                panControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                streetViewControl: false,
                center: projectCoordinates,
            });
            new google.maps.Marker({
                map,
                title: this.title,
                position: projectCoordinates,
                url: 'https://maps.google.com/mapfiles/ms/icons/red-dot.png',
                size: new google.maps.Size(32, 32),
                anchor: new google.maps.Point(16, 32),
            });
        });
    },
};
</script>
