<template>
    <div class="images-grid">
        <a
            v-for="(image, index) in images"
            class="images-grid__image"
            :href="image.url"
            @click="$refs.photoSwipe.open(index, photoSwipeImages)"
            :style="{'background-image': `url(data:image/jpg;base64,${image.placeholderBase64})`}"
        >
            <img
                class="preview-img-item | js-srcset-size js-object-fit"
                :src="image['2400wUrl']"
                :alt="image.name"
                sizes="1px"
                :srcset="`${image['2400wUrl']} 2400w,
                         ${image['1800wUrl']} 1800w,
                         ${image['1200wUrl']} 1200w,
                         ${image['600wUrl']} 600w,
                         data:image/jpg;base64,${image.placeholderBase64} 1w`"
            >
        </a>
        <photo-swipe :bind="{ images }" ref="photoSwipe"></photo-swipe>
    </div>
</template>
<script>
    import PhotoSwipe from './PhotoSwipe';
    import { map } from 'lodash';
    export default {
        components: { PhotoSwipe },

        props: ['images'],

        computed: {
            photoSwipeImages() {
                return map(this.images, image => ({
                    src: image['2400wUrl'],
                    title: image.name,
                    w: image.width,
                    h: image.height,
                    msrc: image['600wUrl'],
                }));
            },
        },
    }
</script>
