<template>
    <div class="field">
        <form-label :label="label" ></form-label>
        <p :class="{ 'control': true, 'has-icons-left': icon }">
            <input v-if="this.genre === 'text' || this.genre === 'number' || this.genre === 'date'"
                   class="input"
                   :type="this.genre"
                   :value="value"
                   v-bind="$attrs"
                   :name="name"
                   @input="$emit('input', $event.target.value)"
            >

            <textarea v-if="this.genre === 'textarea'"
                      class="textarea"
                      v-bind="$attrs"
                      :name="name"
                      @input="$emit('input', $event.target.value)"
            >{{ value }}</textarea>

            <span class="icon is-small is-left" v-if="icon">
                <i :class="`fa fa-${icon}`"></i>
            </span>
        </p>
        <p class="help is-danger">
            <validation-error :message="validationError"></validation-error>
        </p>
    </div>
</template>

<script>
    import ValidationError from './ValidationError';
    import FormLabel from './FormLabel';

    export default {
        props: {
            name: {
                type: String,
            },
            value: {
                type: String,
            },
            genre: {
                type: String,
                default: "text"
            },
            validationError: {
                type: String,
                default: '',
            },
            label: {
                type: String,
                default: '',
            },
            icon: {
                type: String,
                default: null,
            }
        },

        components: {
            ValidationError, FormLabel
        },
    }
</script>
