<template>
    <div class="box is-small" v-if="price">
        <table class="table is-narrow">
            <tbody>
                <tr>
                    <td class="subtitle p-t-sm" colspan="2">Sub-total</td>
                </tr>
                <tr>
                    <td>{{ nights }} nights</td>
                    <td>&euro;{{ price.sub_total }}</td>
                </tr>
                <tr>
                    <td class="subtitle p-t-sm" colspan="2">Cleaning</td>
                </tr>
                <tr>
                    <td>End-cleaning</td>
                    <td>&euro;{{ price.end_cleaning_total }}</td>
                </tr>
                <tr v-if="price.mid_cleaning_total > 0">
                    <td>Mid-cleaning</td>
                    <td>
                        &euro;{{ price.mid_cleaning_total }}<br>
                        <small>({{ price.mid_cleaning }} every 7 nights)</small>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="justify-content: flex-end">
            <div class="tags has-addons title is-3">
                <span class="tag is-large">Total</span>
                <span class="tag is-large is-primary">&euro;{{ price.total }}</span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  props: ["price", "nights"]
};
</script>

