<template>
    <div v-if="hasMessage" v-text="message">

    </div>
</template>

<script>
    export default {
        computed: {
            hasMessage() {
                return this.message.toString() !== '';
            },
        },

        props: ['message'],
    }
</script>
